body {
    background-image: url("FRST1_Homepage_bg.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -180px;
    background-size: 2800px;
    background-color: #cccccc;
}


#canvas {
    margin: 0 auto;
    position: relative;
    left: -35px;
    margin-top: -55px;
    /* transform-origin-x: 50%; */
    /* transform-origin-y: 80%; */
    /* left: -28px; */
    /* top: -120px; */
    transform: perspective(5000px) rotateY(13deg) rotateZ(-1.5deg) rotateX(10deg);
    scale: 66%;
}

